$font-stack: Comic Sans MS, sans-serif;
$primary-color: #333;

h1 {
    font: 100% $font-stack;
    color: $primary-color;
    font-size: 40px;
}

body {
    font-size: 20px;
}

button {
    font: Courier;
}

#comment {
    font-size: 25px;
}
